*{
    margin:0;padding:0;box-sizing: border-box;
}
body {
    font-family: "MADE Tommy Soft"; font-size: 10px;
    display: flex;
    background-color: rgb(225, 225, 225);
    flex-direction: column;
    justify-content: center; align-items: center;
}
.container {
    width: 60%; height: 900px;
    max-width: 400px;
    background-color: white;
    margin: 80px 0px;
    /* padding:  10px 20px; */
}
.nav {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
    height: 60px;
    border-bottom: solid 0.25px rgb(232, 232, 232);
}
.nav  i {
    font-size: 1.5rem;
    color: #fa5437;
}
.right img[alt="logo"] {
    margin-left: 5px;
}
.title {
    font-size: 1.1rem;
    font-weight: 600;
}
.search {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.049);
    background-color: rgb(255, 255, 255);
}
.searchBox {
    width: 80%;
    justify-content: center;align-items: center;
    ;
    display: flex; flex-direction: row;
}
.searchBox input {
    height: 35px;
    padding: 0 15px;
    font-size: 0.65rem;
    font-weight: 550;
    width: 80%;
    border-radius: 30px 0 0px 30px  ;
    border: solid 0.25px #858585;
    border-right: none;
}
.searchBox input:focus {
    background-color: rgba(243, 243, 243, 0.364);
    outline: none;
    
}
.searchIcon i {
    color: rgb(0, 0, 0);font-size: 1.2rem;
}    
.searchIcon {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: 35px;
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    width:50px;
    /* transform: translateX(-100%); */
    border-radius: 0px 30px 30px 0;
    border: solid 0.25px #858585;
    border-left: none;
}
.searchIcon:hover {
    background-color: #f8e7e4;
}


/* =========== Search Result  */

.SearchResult {
    padding: 0 20px;
    /* background: #e9e9e9; */
    background: #fcfcfc;

}
ul li {
    display: flex; flex-direction: row;
    list-style: none;
    border-radius: 8px;
    background-color: white;
    margin: 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
    padding: 20px 10px;
}
.role {
    color:#777777 ;
    font-size: 0.7rem;
}
.name-bold {
    font-size: 0.7rem;
    font-weight: 500;
}
li img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
    border: 3px solid #FFD7D0;
}